name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Cache Cargo binaries and dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install Toolchain
        run: |
          rustup toolchain install stable --profile minimal
          rustup toolchain install nightly --profile minimal
          rustup component add rustfmt --toolchain nightly

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Check Format
        run: cargo +nightly fmt --check

      - name: Clippy Lint
        run: cargo clippy --no-deps

      - name: Test
        run: cargo test --workspace

      - name: Extra Features Training
        run: cargo test -p wordchipper --features training

      - name: Test foldhash
        run: cargo test -p wordchipper --no-default-features --features client,foldhash

      - name: Test no-std
        run: cargo test -p wordchipper --no-default-features --features no_std --tests

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "bindings/python/pyproject.toml"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Python Bindings
        run: |
          cd bindings/python
          uv venv .venv
          source .venv/bin/activate
          uv pip install maturin pytest
          maturin develop
          pytest tests/ -v
