name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Cache Cargo binaries and dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install Toolchain
        run: |
          rustup toolchain install stable --profile minimal
          rustup toolchain install nightly --profile minimal
          rustup component add rustfmt --toolchain nightly

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Check Format
        run: cargo +nightly fmt --check

      - name: Clippy Lint
        run: cargo clippy --no-deps

      - name: Test
        run: cargo test --workspace

      - name: Extra Features Training
        run: cargo test -p wordchipper --features training,experimental

      - name: Test no-default-features
        run: cargo test -p wordchipper --no-default-features --features no_std --tests
